# Virtual Environment
/bin
/lib

# Secrets
credentials.json
token.json
secrets.json

# Overhead
.DS_Store
.vscode/
README.html
README_files/

# Cached Files
__pycache__/

# Contact Sheet for Testing
Network.xlsx 
